{% load static admin_dashboard_tags %}

<script src="{% static 'plugins/custom/draggable/draggable.bundle.js' %}"></script>

<div class="row g-10 draggable-zone">
  {% for item in preferences %}
    {% with module=dashboard.registry|get_module_by_id:item %}
      <!--begin::Col-->
      <div class="col draggable" id="id_{{ module.id }}" data-module-id="{{ module.id }}">
        <!--begin::Card-->
        <div class="card {{ module.render_css_classes }} draggable-handle" style="{{ module.render_custom_style }}">
          {% admin_render_dashboard_module module %}
        </div>
        <!--end::Card-->
      </div>
      <!--end::Col-->
    {% endwith %}
  {% endfor %}
</div>

{{ preference_data|json_script:'preference-data' }}

<script defer>
  let data = JSON.parse(document.getElementById('preference-data').textContent);
  let containers = document.querySelectorAll(".draggable-zone");

  if (containers.length !== 0) {
    let dashboard = new Sortable.default(containers, {
      draggable: ".draggable",
      handle: ".draggable .draggable-handle",
      mirror: {
        //appendTo: selector,
        appendTo: "body",
        constrainDimensions: true
      },
    });
    dashboard.on('sortable:stop', function () {
      let available_modules = containers[0].children;

      let real_modules = [];
      available_modules.forEach(function (div) {
        if (div.classList.contains('draggable--original')) {
          return;
        }
        real_modules.push(div);
      });

      let newOrder = {};
      real_modules.forEach(function (div, index) {
        let module_id = div.getAttribute('data-module-id');
        newOrder[module_id] = index + 1;
      });

      for (let key in data) {
        if (data.hasOwnProperty(key)) {
          data[key].order = newOrder[key];
        }
      }
      console.log(data);
      setPreferences();
    });
  }

  $(document).ready(function () {
    $('.module-toggle').change(function () {
      if ($(this).is(':checked')) {
        // if key doesn't exist, create it
        // assign order to length of data
        if (!data.hasOwnProperty($(this).attr('data-module-id'))) {
          data[$(this).attr('data-module-id')] = {
            "order": Object.keys(data).length + 1
          };
        }
      } else {
        // if key exists, delete it
        if (data.hasOwnProperty($(this).attr('data-module-id'))) {
          delete data[$(this).attr('data-module-id')];
        }
      }
    });

    $('#kt_drawer_dashboard_config_apply_btn').click(function () {
      setPreferences();
      location.reload();
    });
  });


  function setPreferences() {
    let url = "{% url 'admin-dashboard-set-preferences' dashboard_code %}";
    let csrftoken = "{{ csrf_token }}";
    let request = new XMLHttpRequest();
    request.open('POST', url, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.setRequestHeader('X-CSRFToken', csrftoken);
    request.onload = function () {
      if (this.status >= 200 && this.status < 400) {
        let data = JSON.parse(this.response);
        console.log(data);
      } else {
        console.log('error');
      }
    };
    request.onerror = function () {
      // There was a connection error of some sort
      console.log('error');
    };
    request.send(JSON.stringify(data));
  }
</script>
