{% load i18n static admin_menu_tags %}
{% if menu.children %}

  <!--begin::Action wrapper-->
  <div class="d-flex align-items-center">

    <!--begin::Header nav-->
    <div class="app-header-menu app-header-mobile-drawer align-items-stretch flex-grow-1"
         data-kt-drawer="true" data-kt-drawer-name="app-header-menu"
         data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
         data-kt-drawer-width="250px" data-kt-drawer-direction="start"
         data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
         data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
         data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
      <!--begin::Menu-->
      <div
        class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0"
        id="kt_app_header_menu" data-kt-menu="true">
        {% for item in menu.children %}{% admin_render_menu_item item index=forloop.counter %}{% endfor %}
      </div>
      <!--end::Menu-->
    </div>
    <!--end::Header nav-->

    {% if has_bookmark_item %}
      <!--begin::Separator-->
      <div class="bullet bg-secondary h-35px w-1px mx-5"></div>
      <!--end::Separator-->
    {% endif %}
  </div>
  <!--end::Action wrapper-->

  <!--begin::Action wrapper-->
  <div class="d-flex align-items-center">
    <!--begin::Actions-->
    <div class="d-flex">
      {% if has_bookmark_item %}
        {% if bookmark %}
          {% include "bookmark/remove_bookmark_form.html" %}
        {% else %}
          {% include "bookmark/add_bookmark_form.html" %}
        {% endif %}
      {% endif %}
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Action wrapper-->

{% endif %}
