{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
        <a href="{% url 'admin:index' %}" class="text-gray-500 text-hover-primary">
          <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
        </a>
      </li>
      <!--end::Item-->

      <!--begin::Item Group-->
      <!--begin::Item-->
      <li class="breadcrumb-item">
        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
      </li>
      <!--end::Item-->
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}" class="text-gray-500 text-hover-primary">
          {{ opts.app_config.verbose_name }}
        </a>
      </li>
      <!--end::Item-->
      <!--end::Item Group-->

      <!--begin::Item Group-->
      <!--begin::Item-->
      <li class="breadcrumb-item">
        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
      </li>
      <!--end::Item-->
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
        <a href="{% url opts|admin_urlname:'changelist' %}"
           class="text-gray-500 text-hover-primary">{{ opts.verbose_name_plural|capfirst }}</a>
      </li>
      <!--end::Item-->
      <!--end::Item Group-->

      <!--begin::Item Group-->
      <!--begin::Item-->
      <li class="breadcrumb-item">
        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
      </li>
      <!--end::Item-->
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
        <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}"
           class="text-gray-500 text-hover-primary">{{ original|truncatewords:"18" }}</a>
      </li>
      <!--end::Item-->
      <!--end::Item Group-->

      <!--begin::Item Group-->
      <!--begin::Item-->
      <li class="breadcrumb-item">
        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
      </li>
      <!--end::Item-->
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-500">
        {% translate 'Change password' %}
      </li>
      <!--end::Item-->
      <!--end::Item Group-->
    </ul>
  {% endblock breadcrumbs %}
{% endif %}


{% block content %}
  <div class="g-d-c">
    <div class="g-d-12">
      <div class="grp-rte">
        <p>
          {% blocktrans with original.username as username %}Enter a new password for the user
            <strong>{{ username }}</strong>.{% endblocktrans %}
        </p>
      </div>

      <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
        {% csrf_token %}
        {% block form_top %}{% endblock form_top %}

        {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}

        <div class="keep-grp">
          <fieldset class="module grp-module">
            <div class="form-row grp-row{% if form.password1.errors %} grp-errors{% endif %}">
              <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label for="id_new_password1" class="required">{% trans 'New password' %}</label></div>
                <div class="c-2">
                  {{ form.password1 }}
                  {{ form.password1.errors }}
                  {% if form.password1.help_text %}
                    <p class="grp-help">{{ form.password1.help_text|safe }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="form-row grp-row{% if form.password2.errors %} grp-errors{% endif %}">
              <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label>
                </div>
                <div class="c-2">
                  {{ form.password2 }}
                  {{ form.password2.errors }}
                  <p class="grp-help">{% trans 'Enter the same password as above, for verification.' %}</p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="app-footer keep-grp">
          <footer class="app-footer-primary grp-module grp-submit-row grp-fixed-footer">
            <div class="d-flex flex-stack flex-wrap gap-4 w-100">
              <div class="page-title d-flex flex-column gap-3 me-3"></div>
              <div class="d-flex align-items-center gap-3 gap-lg-5">
                <input type="submit" value="{% translate 'Change password' %}"
                       class="btn btn-flex btn-center btn-success btn-sm px-4">
              </div>
            </div>
          </footer>
        </div>

      </form>
    </div>
  </div>

{% endblock content %}

{% block footer %}
  <!--begin::Footer-->
  <div
    class="align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3 py-lg-6 h-80px">
  </div>
  <!--end::Footer-->
{% endblock footer %}
